h1{
    text-align: center;
}

.container{
    display:flex;
    flex-direction: column;
    margin-inline: auto;
align-items: center;
}

.model--items{
    width: calc(100%*0.8);
    padding: 10px;
    display:flex;
    justify-content: space-around;
    align-items:center ;
    gap: 10px 20px;
    flex-direction: row;
    margin-bottom: 10px;
    background-color:darkgray;
    border-radius: 5px 5px;
}


.list--manage_item{
    border-color:none;
    border-radius: 10px 10px;
    padding: 5px 10px 5px 10px;
    margin-right: 10px;
}

.list--manage_item:hover{
    opacity: 0.5;
    transition:ease;
}

.model--title{
    display:flex;
    width: calc(100%*0.6);
    justify-content: space-between;
    align-items: center;
}
.button{
    border-radius: 10px 10px;
}

.form--input{
    display:flex;
    justify-content: center;
    margin:10px 10px 10px 10px;
}